<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!--Rolling INFO level logging for MyBackYard to file logs/mbyInfo.log-->
    <appender name="mbyInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/mbyInfo.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/mbyInfo-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>2MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <logger name="com.mybackyard.backend" level="INFO" additivity="true">
        <appender-ref ref="mbyInfo"/>
    </logger>

    <!--INFO level logging for everything to console-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %highlight(%-5level) [%blue(%t)] %yellow(%C): %msg%n%throwable</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="console"/>
    </root>


</configuration>